<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SPNW Dashboard</title>
        <script src="https://unpkg.com/alpinejs" defer></script>
        <script src="https://unpkg.com/htmx.org"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-blue-600 flex flex-col items-center flex-wrap">
        {% include 'navbar.html' %}
        <div class="flex content-center justify-between p-4 w-4/5">
            <h1 class="text-white font-bold text-2xl">Tasks</h1>
            <button type="button">🍔</button>
        </div>
        <hr class="w-4/5">
        <div class="mt-6 p-5 gap-3 flex flex-col items-center flex-wrap w-4/5" hx-get="/fe/all-tasks" hx-trigger="load once" hx-swap="afterbegin">
            <div class="flex justify-around p-5 border-2 rounded-md w-full bg-gray-900 bg-opacity-20 text-white font-semibold text-lg border-dashed cursor-pointer">
                <h1>+ Add Task</h1>
            </div>
        </div>
    </body>
</html>
