<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX with FastAPI</title>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>HTMX with FastAPI</h1>
    <button hx-get="/fe/test" hx-target="#message">Click Me</button>
    <div id="message">This will be updated by HTMX.</div>
    <form hx-post="/fe/submit" hx-target="#response">
      <input type="text" name="data" placeholder="Enter something" />
      <button type="submit">Submit</button>
    </form>
    <div id="response"></div>
  </body>
</html>
