<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | SPNW</title>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <!-- <link href="{{ url_for('static', path='css/tailwind.css') }}" rel="stylesheet"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-blue-500 pt-32">
    <section
      class="max-w-xl p-10 mx-auto bg-gray-900 bg-opacity-20 rounded-md shadow-md border-2 rounded-md"
    >
      <h2 class="text-lg font-semibold capitalize text-white">Login</h2>

      <form
        hx-post="/api/users/login"
        hx-swap="none"
        id="login-form"
        hx-ext="json-enc"
      >
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
          <div>
            <label class="text-white" for="username">Username</label>
            <input
              id="username"
              name="username"
              required
              type="text"
              class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            />
          </div>

          <!-- <div> -->
          <!--   <label class="text-gray-700 dark:text-gray-200" for="emailAddress" -->
          <!--     >Email Address</label -->
          <!--   > -->
          <!--   <input -->
          <!--     id="emailAddress" -->
          <!--     type="email" -->
          <!--     class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" -->
          <!--   /> -->
          <!-- </div> -->

          <div>
            <label class="text-white" for="password">Password</label>
            <input
              name="password"
              required
              id="password"
              type="password"
              class="block w-full px-4 py-2 mt-2 text-gray-900 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            />
          </div>

          <!-- <div> -->
          <!--   <label -->
          <!--     class="text-gray-700 dark:text-gray-200" -->
          <!--     for="passwordConfirmation" -->
          <!--     >Password Confirmation</label -->
          <!--   > -->
          <!--   <input -->
          <!--     id="passwordConfirmation" -->
          <!--     type="password" -->
          <!--     class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" -->
          <!--   /> -->
          <!-- </div> -->
        </div>

        <div class="flex justify-end mt-6">
          <button
            type="submit"
            class="px-8 py-2.5 leading-5 text-gray-900 transition-colors duration-300 transform bg-white rounded-md hover:bg-blue-100 focus:outline-none focus:bg-gray-600"
          >
            Login
          </button>
        </div>
        <p class="text-left text-white hover:text-gray-100">
          <a href="../register">Don't have an account?</a>
        </p>
      </form>
    </section>
    <script>
      document
        .getElementById("login-form")
        .addEventListener("htmx:afterOnLoad", function (event) {
          // Check if the request was successful
          if (event.detail.xhr.status === 200) {
            console.log("working");
            try {
              // Parse the server response (assuming JSON response with tokens or user data)
              const data = JSON.parse(event.detail.xhr.responseText);
              console.log(data.session_token);

              // Update cookies with response data (e.g., accessToken and username)
              if (data.session_token) {
                let date = new Date();
                const day = 24 * 60 * 60 * 1000;
                const days_to_expire = 30;
                date.setTime(date.getTime() + days_to_expire * day);
                document.cookie =
                  "session_token=" +
                  data.session_token +
                  "; " +
                  "expires=" +
                  date.toUTCString() +
                  ";";
                // localStorage.setItem("session_token", data.session_token);
              }

              window.location.href = "../dashboard";
            } catch (error) {
              console.error("Failed to parse response:", error);
            }
          } else {
            alert("Login failed. Please check your credentials.");
          }
        });
    </script>
  </body>
</html>
