<nav
  x-data="{ mobileMenuIsOpen: false }"
  @click.away="mobileMenuIsOpen = false"
  class="flex items-center justify-between flex content-center justify-between p-4 w-4/5"
  aria-label="penguin ui menu"
>
  <script>
    function redirectTo(url) {
      window.location.href = url;
    }
  </script>
  <!-- Brand Logo -->
  <a href="#" class="text-2xl font-bold text-neutral-900 dark:text-white">
    <span
      >SPNW<span class="text-black dark:text-white"> | </span>Habit
      Tracker</span
    >
    <!-- <img src="./your-logo.svg" alt="brand logo" class="w-10" /> -->
  </a>
  <!-- Desktop Menu -->
  <ul class="items-center gap-4 sm:flex">
    <!-- <li> -->
    <!--   <a -->
    <!--     href="#" -->
    <!--     class="font-bold text-black underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-white dark:hover:text-white" -->
    <!--     aria-current="page" -->
    <!--     >Products</a -->
    <!--   > -->
    <!-- </li> -->
    <!-- <li> -->
    <!--   <a -->
    <!--     href="#" -->
    <!--     class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white" -->
    <!--     >Pricing</a -->
    <!--   > -->
    <!-- </li> -->
    <!-- <li> -->
    <!--   <a -->
    <!--     href="#" -->
    <!--     class="font-medium text-neutral-600 underline-offset-2 hover:text-black focus:outline-none focus:underline dark:text-neutral-300 dark:hover:text-white" -->
    <!--     >Blog</a -->
    <!--   > -->
    <!-- </li> -->
    <!-- CTA Button -->
    <li>
      <a
        href="../../"
        hx-post="/users/logout"
        hx-swap="none"
        class="rounded-md bg-black px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:bg-white dark:text-black dark:focus-visible:outline-white"
        onclick="redirectTo('/'); return false;"
        >Logout</a
      >
    </li>
  </ul>
  <!-- Mobile Menu Button -->

  <!-- <button -->
  <!--   @click="mobileMenuIsOpen = !mobileMenuIsOpen" -->
  <!--   :aria-expanded="mobileMenuIsOpen" -->
  <!--   :class="mobileMenuIsOpen ? 'fixed top-6 right-6 z-20' : null" -->
  <!--   type="button" -->
  <!--   class="flex text-neutral-600 dark:text-neutral-300 sm:hidden" -->
  <!--   aria-label="mobile menu" -->
  <!--   aria-controls="mobileMenu" -->
  <!-- > -->
  <!--   <svg -->
  <!--     x-cloak -->
  <!--     x-show="!mobileMenuIsOpen" -->
  <!--     xmlns="http://www.w3.org/2000/svg" -->
  <!--     fill="none" -->
  <!--     aria-hidden="true" -->
  <!--     viewBox="0 0 24 24" -->
  <!--     stroke-width="2" -->
  <!--     stroke="currentColor" -->
  <!--     class="size-6" -->
  <!--   > -->
  <!--     <path -->
  <!--       stroke-linecap="round" -->
  <!--       stroke-linejoin="round" -->
  <!--       d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" -->
  <!--     /> -->
  <!--   </svg> -->
  <!--   <svg -->
  <!--     x-cloak -->
  <!--     x-show="mobileMenuIsOpen" -->
  <!--     xmlns="http://www.w3.org/2000/svg" -->
  <!--     fill="none" -->
  <!--     aria-hidden="true" -->
  <!--     viewBox="0 0 24 24" -->
  <!--     stroke-width="2" -->
  <!--     stroke="currentColor" -->
  <!--     class="size-6" -->
  <!--   > -->
  <!--     <path -->
  <!--       stroke-linecap="round" -->
  <!--       stroke-linejoin="round" -->
  <!--       d="M6 18 18 6M6 6l12 12" -->
  <!--     /> -->
  <!--   </svg> -->
  <!-- </button> -->
  <!-- Mobile Menu -->
  <!-- <ul -->
  <!--   x-cloak -->
  <!--   x-show="mobileMenuIsOpen" -->
  <!--   x-transition:enter="transition motion-reduce:transition-none ease-out duration-300" -->
  <!--   x-transition:enter-start="-translate-y-full" -->
  <!--   x-transition:enter-end="translate-y-0" -->
  <!--   x-transition:leave="transition motion-reduce:transition-none ease-out duration-300" -->
  <!--   x-transition:leave-start="translate-y-0" -->
  <!--   x-transition:leave-end="-translate-y-full" -->
  <!--   id="mobileMenu" -->
  <!--   class="fixed max-h-svh overflow-y-auto inset-x-0 top-0 z-10 flex flex-col divide-y divide-neutral-300 rounded-b-md border-b border-neutral-300 bg-neutral-50 px-6 pb-6 pt-20 dark:divide-neutral-700 dark:border-neutral-700 dark:bg-neutral-900 sm:hidden" -->
  <!-- > -->
  <!--   <li class="py-4"> -->
  <!--     <a -->
  <!--       href="#" -->
  <!--       class="w-full text-lg font-bold text-black focus:underline dark:text-white" -->
  <!--       aria-current="page" -->
  <!--       >Products</a -->
  <!--     > -->
  <!--   </li> -->
  <!--   <li class="py-4"> -->
  <!--     <a -->
  <!--       href="#" -->
  <!--       class="w-full text-lg font-medium text-neutral-600 focus:underline dark:text-neutral-300" -->
  <!--       >Pricing</a -->
  <!--     > -->
  <!--   </li> -->
  <!--   <li class="py-4"> -->
  <!--     <a -->
  <!--       href="#" -->
  <!--       class="w-full text-lg font-medium text-neutral-600 focus:underline dark:text-neutral-300" -->
  <!--       >Blog</a -->
  <!--     > -->
  <!--   </li> -->
  <!-- CTA Button -->
  <!--   <li class="mt-4 w-full border-none"> -->
  <!--     <a -->
  <!--       href="#" -->
  <!--       class="rounded-md bg-black px-4 py-2 block text-center font-medium tracking-wide text-neutral-100 hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:bg-white dark:text-black dark:focus-visible:outline-white" -->
  <!--       >Sign Up</a -->
  <!--     > -->
  <!--   </li> -->
  <!-- </ul> -->
</nav>
