<div class="flex flex-row items-center justify-between p-5 border-2 rounded-md w-full bg-gray-900 bg-opacity-20 text-white font-semibold text-lg">
    <h1>{{title}}</h1>
    <span style="min-width:100px;" class="flex flex-row justify-end gap-2">
        <h1 class="inline">{{streak}}</h1>
        <input
            type="checkbox"
            name=""
            value=""
            x-data="{checked: {{'true' if done else 'false'}}}"
            x-model="checked"
            :disabled="checked"
            hx-swap="none"
            hx-put="/habits"
            hx-headers='js:{"spnw-auth-token": get_auth_token()}'
            hx-ext="json-enc"
            hx-vals='{"id": "{{id}}", "type": "{{type}}", "done": true}'
        >
    </span>
</div>
